button {
	width: 260px;
	height: 55px;
	border-radius: 50px;
	outline: none;
	border: 0;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid;
	cursor: pointer;

	&.primary {
		background-color: #f70567;
		color: #fff;
		border-color: #f70567;
	}

	&.secondary {
		background-color: #fff;
		color: #000;
		border-color: #ccc;
	}
}